<div class="card my-3">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <span class="title">{{ month.startOfMonth.toLocaleString({ month: "long" }) }}</span>

      <div class="d-flex align-items-center gap-3">
        <button (click)="reloadTimeEntries()" class="btn btn-primary btn-sm">
          Reload Time Entries
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <to-month-summary [month]="month"></to-month-summary>
    <to-month-details [month]="month"></to-month-details>
  </div>
</div>

<ng-template #loadingTimeEntries let-modal>
  <p class="text-center p-3">
    <fa-icon icon="cog" [spin]="true"></fa-icon>
    Reloading time entries from account...
  </p>
</ng-template>