<div class="card my-3">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <span class="title">Year Summary</span>
      
            <div class="d-flex align-items-center gap-3">
              <button (click)="reloadTimeEntries()" class="btn btn-primary btn-sm">
                Reload Time Entries
              </button>
            </div>
          </div>
    </div>
    <div class="card-body">
        <div class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Worked</span>
                    <input type="text" class="form-control"
                        [value]="trackingPeriod.hoursWorked | durationFormat: trackingPeriod.hoursNeeded" readonly />
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Holidays taken</span>
                    <input type="text" class="form-control"
                        [value]="trackingPeriod.holidaysTaken | durationFormat: trackingPeriod.holidaysTotal"
                        readonly />
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Holidays booked</span>
                    <input type="text" class="form-control" [value]="trackingPeriod.holidaysBooked | durationFormat"
                        readonly />
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Bridge Days until now</span>
                    <input type="text" class="form-control"
                        [value]="trackingPeriod.bridgeDaysUntilNow | durationFormat: trackingPeriod.bridgeDaysTotal"
                        readonly />
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Overhours worked</span>
                    <input type="text" class="form-control" [value]="trackingPeriod.overHoursWorked | durationFormat"
                        readonly />
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Overhours with Bridge Days</span>
                    <input type="text" class="form-control" [value]="trackingPeriod.overHoursWithBridgeDays | durationFormat"
                        readonly />
                </div>
            </div>

            <div class="col-auto" *ngFor="let perProject of trackingPeriod.perProjectDurations | keyvalue">
                <div class="input-group">
                    <span class="input-group-text">
                        <to-project-color [project]="perProject.key"></to-project-color>
                        {{perProject.key.name}}
                    </span>
                    <input type="text" class="form-control" [value]="perProject.value | durationFormat" readonly />
                </div>
            </div>
        </div>
    </div>
</div>