<div class="card my-3">
    <div class="card-header">Year Summary</div>
    <div class="card-body">
        <div class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Worked</span>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Holidays taken</span>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Holidays booked</span>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Bridge Days until now</span>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Bridge days upcoming</span>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Overhours until now</span>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Overhours if working normally until the end of the year</span>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Project 1</span>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text">Project 2</span>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>