<div class="row gy-2 gx-3 align-items-center">
  <div class="col-auto">
    <div class="input-group input-group-duration">
      <span class="input-group-text">Mon</span>
      <input
        type="text"
        class="form-control"
        [(toDurationInput)]="durations.monday"
      />
    </div>
  </div>

  <div class="col-auto">
    <div class="input-group input-group-duration">
      <span class="input-group-text">Tue</span>
      <input
        type="text"
        class="form-control"
        [(toDurationInput)]="durations.tuesday"
      />
    </div>
  </div>

  <div class="col-auto">
    <div class="input-group input-group-duration">
      <span class="input-group-text">Wed</span>
      <input
        type="text"
        class="form-control"
        [(toDurationInput)]="durations.wednesday"
      />
    </div>
  </div>

  <div class="col-auto">
    <div class="input-group input-group-duration">
      <span class="input-group-text">Thu</span>
      <input
        type="text"
        class="form-control"
        [(toDurationInput)]="durations.thursday"
      />
    </div>
  </div>

  <div class="col-auto">
    <div class="input-group input-group-duration">
      <span class="input-group-text">Fri</span>
      <input
        type="text"
        class="form-control"
        [(toDurationInput)]="durations.friday"
      />
    </div>
  </div>

  <div class="col-auto">
    <div class="input-group input-group-duration">
      <span class="input-group-text">Sat</span>
      <input
        type="text"
        class="form-control"
        [(toDurationInput)]="durations.saturday"
      />
    </div>
  </div>

  <div class="col-auto">
    <div class="input-group input-group-duration">
      <span class="input-group-text">Sun</span>
      <input
        type="text"
        class="form-control"
        [(toDurationInput)]="durations.sunday"
      />
    </div>
  </div>
</div>