<div class="form-create">
  <h1 class="h3 mb-3 font-weight-normal">About TogglOverhours</h1>

  <div class="text-start">
    <p>
      TogglOverhours is a small helper application allows you to generate
      various statistics over your tracked working ours in
      <a href="https://track.toggl.com/">Toggl Track</a>. The data needed by
      this app is stored in a small database file which is stored locally on
      your PC, no data is stored on the server of this app.
    </p>
    <p>
        Once a database file is created and opened in this application, you can import your projects and configure tracking periods for which the statistics should be generated. 
        Typically you might have one period per working year, but it might depend on your work contract.
<br />
        For each project you can configure how much the time entries for the project should be counted as working time. 
        e.g. for tracking bridge days you would set the time to 0% to indicate any tracked time is not accounted as working time. This way such entries like bridge days or compensation of toggl-overhours
        can be added as time entries to Toggl but are correctly counted as non-working time. 
    </p>
    <p>
        Once all settings are configured you can switch to the reporting feature where you can select the time periods and refresh/re-import the time entries with Toggl.
        After the import all statistics are updated and shown accordingly.
    </p>
  </div>

  <hr />
  <a routerLink="../login">Back to Open</a>
</div>
