<div class="row gy-2 gx-3 align-items-center mb-3">
    <div class="col-auto">
        <div class="input-group">
            <span class="input-group-text">Worked</span>
            <input type="text" class="form-control" [value]="month.hoursWorked | durationFormat: month.hoursNeeded"
                readonly />
        </div>
    </div>

    <div class="col-auto">
        <div class="input-group">
            <span class="input-group-text">Overhours worked this month</span>
            <input type="text" class="form-control" [value]="month.overHoursWorked | durationFormat" readonly />
        </div>
    </div>

    <div class="col-auto" *ngFor="let perProject of month.perProjectDurations | keyvalue">
        <div class="input-group">
            <span class="input-group-text">
                <to-project-color [project]="perProject.key"></to-project-color>
                {{perProject.key.name}}
            </span>
            <input type="text" class="form-control" [value]="perProject.value | durationFormat" readonly />
        </div>
    </div>
</div>