<div class="input-group">
  <span class="input-group-text">Tracking Period</span>
  <select
    class="form-select"
    name="holidayProject"
    [(ngModel)]="trackingPeriod"
  >
    <option *ngFor="let tp of trackingPeriods$ | async" [ngValue]="tp">
      {{ tp.start.toISODate() }} - {{ tp.end.toISODate() }}
    </option>
  </select>
</div>

<to-year-summary [trackingPeriod]="trackingPeriodStatistics" *ngIf="trackingPeriodStatistics"></to-year-summary>
<to-year-details [trackingPeriod]="trackingPeriodStatistics" *ngIf="trackingPeriodStatistics"></to-year-details>