<div class="form-create">
    <h1 class="h3 mb-3 font-weight-normal">
        Create new database
    </h1>
    <div class="input-group mb-2 has-validation">
        <span class="input-group-text">Toggl API Token</span>
        <input type="password" class="form-control" name="togglApiToken" [(ngModel)]="togglApiToken"
            [class.is-invalid]="togglApiTokenError" />
        <div class="invalid-feedback" *ngIf="togglApiTokenError">
            {{togglApiTokenError}}
        </div>
    </div>

    <div class="input-group mb-2 has-validation">
        <span class="input-group-text">Workspace</span>
        <select class="form-select" name="workspace" [(ngModel)]="workspaceId" [class.is-invalid]="workspaceError">
            <option *ngFor="let project of workspaces$ | async" [ngValue]="project.id">
                {{ project.name }}
            </option>
        </select>
        <div class="invalid-feedback" *ngIf="workspaceError">
            {{workspaceError}}
        </div>
    </div>

    <div class="input-group mb-2 has-validation">
        <span class="input-group-text">Database Password</span>
        <input type="password" class="form-control" name="databasePassword" [(ngModel)]="databasePassword"
            [class.is-invalid]="databasePasswordError" />
        <div class="invalid-feedback" *ngIf="databasePasswordError">
            {{databasePasswordError}}
        </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" (click)="createDatabase()">
        Create Database
    </button>
    <hr />
    <a routerLink="../login">Back to Open</a>
</div>